[user]
	name = Lars Tice
	email = lars.tice@gmail.com
[credential]
	helper = osxkeychain
	helper = \\!/opt/homebrew/bin/gh auth git-credential
[credential "https://github.com"]
	username = lars-tice
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
